@import "../../index.scss";

.rrss-card {
    
  &__logo {
    margin-right: 10px;

    &-img {
      width: 5%;
      max-width: 3.2rem;
      border-radius: 50%;
      margin-top: 0.62rem;
      transition-duration: 0.2s;

      &:hover {
        transform: scale(120%);
      }
    }
  }
}
