@import "../../index.scss";

.webcard {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 10px 8px #888888;
  // max-width: 30vw;
  // max-height: 30vh;

  &__img {
    max-width: inherit;
    width: 20vw;
    height: 20vh;
  }

  & .modal {
    &__title {
      font-weight: bold;
      margin: 1rem 0;
      text-align: center;
      font-size: 1.5rem;
    }

    &__img {
      width: 50%;
      margin: auto;
      display: flex;
    }

    &__link-group {
      display: flex;
      justify-content: center;
    }

    &__link {
      width: 150px;
      margin: 0 1rem;
    }
  }
}
